@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.aboutSection {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuClk-aOuejEmPsJHyNrQZ9k4B2HHJLzFOFmlY6-tBYDFDEc6Qoc48tBsl0i4z1WKyWFbXpB6d4b2znMrQyFXzpSC-hMtfbNg_O5oOVoufNWQQ0Ibiy92o8le3rJkgZ1suDH8pegutoQgd5sVhykfvWy4YVajZ9jhgTiEaOEoHruMg1znxxaza6_x3b8j1Xn7SC5qb6N1OO0BmcQcvKUndQ4kUmhof7iL7qTLEZRa2k0-HBT8EIbD90bf2tGe2LNmHoBpWnnl7XMU4Mh');
}

.bgTeam {
    background-image: url('/images/our_team.png');
    background-size: cover;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

#contact a {
    display: none !important;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.523);
    }

    50% {
        box-shadow: 0 0 20px white;
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.523);
    }
}